nav {
    width: 100vw;
    // position: fixed;
}

nav > ul {
    display: flex;
    width: 100%;
    justify-content: center;
}

nav > ul > li {
    margin-right: 5%;
}

li {
    list-style: none;
    cursor: pointer;
}

h1 {
    text-align: center;
}

body {
    background-color: rgb(238, 95, 95);
    color: white;
    font-family: 'Manrope', sans-serif;
}

form {
    // border: 1px solid lime;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin-bottom: 20px;
}

form > input {
    padding: 20px;
    width: 200px;
    outline: none;
    border: none;
}

#add-button {
    color: blue;
    padding-right: 10px;
    cursor: pointer;
}

.item-details {
    border: 1px solid white;
    border-radius: 10px;
    color: black;
    margin-top: 10px;
    // height: 100px;
    margin-bottom: 10px;
    margin-left: 10%;
}

.item-details > form {
    margin-left: 0;
}

.item {
    border: 1px solid white;
    margin-top: 10px;
    background-color: white;
}

.item-container {
    color: rgb(238, 95, 95);
    margin-left: 20%;
    margin-right: 20%;
}

#item-name {
    cursor: pointer;
    width: fit-content;
    margin-left: 5%;
}

#food > h1, #activities > h1, #travel > h1 {
    text-decoration: underline;
}

.cursor {
    cursor: pointer;
    width: fit-content;
}

